<div class="min-h-screen bg-gray-50 flex">
  <!-- Full Height Sidebar (glued to left edge) -->
  <aside class="hidden lg:block w-52 bg-white border-r border-gray-200 fixed left-0 top-16 bottom-0 overflow-y-auto">
    <%= render 'apis/index/sidebar', categories: @categories_with_apis %>
  </aside>

  <!-- Main Content Area (offset by sidebar width) -->
  <div class="flex-1 lg:ml-52">
    <!-- Header -->
    <%= render 'apis/index/header' %>

    <!-- Main Content -->
    <div class="px-8 py-6">
      <!-- Most Popular Section -->
      <%= render 'apis/index/most_popular', apis: @popular_apis %>

      <!-- Category Sections -->
      <% @categories_with_apis.each do |category| %>
        <% category_apis = @apis_by_category[category["id"]] || [] %>
        <%= render 'apis/index/category_section', category: category, apis: category_apis %>
      <% end %>
    </div>
  </div>
</div>
