<% content_for :title, "Contact Us - Requiems API" %>

<div class="min-h-screen bg-gray-50 dark:bg-gray-900 py-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid lg:grid-cols-2 gap-12 items-start">
      <!-- Left Side: Contact Information -->
      <div>
        <%= render 'partials/contact/info_sections' %>
        <%= render 'partials/contact/additional_links' %>
      </div>

      <!-- Right Side: Contact Form -->
      <%= render 'partials/contact/contact_form' %>
    </div>
  </div>
</div>
